html {
  /* Default text styling */
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 20px;
  /* Dark grey and the answer to the ultimate question */
  color: #424242;
  /* Modern light grey background */
  background-color: #f9f9f9;
}

/* Navbar */

.navbar {
  display: grid;
  grid-template-areas:
    "a b";
}

.logo {
  grid-area: a;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 32px;
  user-select: none;
}

.links {
  grid-area: b;
  user-select: none;
  display: flex;
  justify-content: flex-end;
}

/* Main Page */

.header {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 28px;
  user-select: none;
}

.flex-oneline {
  display: flex;
  margin: -15px 0px -15px 0px;
}

#dashboard-container {
  display: grid;
  grid-template-columns: 50% 50%;
  /* grid-template-rows: 10% 50%; */
  grid-template-areas: 
    "a d"
    "b d"
    "c d";
  padding: 100px;
}

#weather-container {
  grid-area: a;
}

#finance-container {
  grid-area: b;
}

#inspiration-container{
  grid-area: c;
}

#news-container {
  grid-area: d;
}

/* Buttons */

.modern-button {
  cursor: pointer;
  
  /* Button size */
  height: 80px;
  padding: 0 40px;
  
  /* Button font */
  font-weight: 300;
  font-size: 24px;
  letter-spacing: .4px;
  color: #424242;
  
  /* Remove blue selection outline */
  outline: none;
  /* Remove border */
  border: none;
  /* Make button see-through */
  background-color: transparent;
  /* Transition hover effects into view */
  transition: all .3s ease-out;
}

/* Normal state */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
/* Hover state */
.ripple:hover {
  /* After active, the tiny transparent circle at the center of the gradient expands
  along with the entire background, revealing the temporary background color/ripple color 
  set in active underneath it. The temporary background color transitions to the hover background 
  color, and the inside of the transparent circle transitions first, creating a ripple. */
  background: #e7e7e7 radial-gradient(circle, transparent 1%, #e7e7e7 1%) center/15000%;
}
/* Active state: the initial state of the ripple */
.ripple:active {
  /* Immediately transition the background */
  transition: background 0s;
  /* Start with a background gradient size of 100%, with 99% of the gradient being the hover color */
  background-size: 100%;
  /* Start with the ripple color, in the form of a temp background color, underneath the gradient */
  background-color: #f9f9f9;  
}

/* Not in Use */

/*
.article-list {
    margin-left: -80px;
}
*/

/*
.article {
  padding-top: 15px;
  border-top: 1px solid #CCC;
}
*/
