body {
  /* Modern light grey */
  background-color: #f9f9f9;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

#time_until_alert {
  
}

.heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 32px;
}
